/*-( LINK OTHER CSS FILES */
@import url("main.css");
@import url("navigation.css");
@import url("footer.css");
/* LINK OTHER CSS FILES )-*/

/*-( PAGE SETUP */
:root {
  /*page design width*/
  --base_width: 1366;
  --page_padding: calc((140 / var(--base_width)) * 100vw);

  /*colours*/
  --col__text_main: #ffffff;
  --col__text_secn: #191919;
  --col__text_form: #3e3e3e;
  --col__text_slct: #003557;
  --col__nav_slct: #00fdff;
}

h1 {
  --text-size: 70;
  font-weight: bold;
  font-family: "Noto Sans";
}
h2 {
  --text-size: 50;
  font-weight: bold;
  font-family: "Noto Sans";
}
h3 {
  --text-size: 32;
  font-weight: bold;
  font-family: "Noto Sans";
}

#hero,
#intro,
#ai,
#images,
#contact,
#footer {
  padding: 0, var(--page_padding);
}
/* PAGE SETUP )-*/
