/*-( LINK OTHER CSS FILES */
@import url("main.css");
@import url("navigation.css");
@import url("footer.css");
/* LINK OTHER CSS FILES )-*/

/*-( PAGE SETUP */
:root {
  /*page design width*/
  --base_width: 1366;
  --page_padding: calc((140 / var(--base_width)) * 100vw);

  /*colours*/
  --col__text_main: #ffffff;
  --col__text_secn: #191919;
  --col__text_form: #3e3e3e;
  --col__text_slct: #003557;
  --col__nav_slct: #00fdff;
  --col__back_main: #003557;
  --col__back_secn: #fbfbfb;
  --col__back_cont: #46a4d3;
  --col__back_foot: #191919;
}

h1 {
  --adap__text: 70;
  font-weight: bold;
}
h2 {
  --adap__text: 50;
  font-weight: bold;
}
h3 {
  --adap__text: 32;
  font-weight: bold;
}

#hero,
#intro,
#ai,
#images,
#contact,
#footer {
  padding: 0 var(--page_padding);
}

body {
  font-family: "Noto Sans";
}
/* PAGE SETUP )-*/

/*-( NAV */
.page_nav {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  width: 100%;
}
.page_nav .logo {
  --adap__width: 133;
  --adap__width_cut: 0.75;
  height: 100%;
  margin-right: auto;
}
.page_nav .list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: right;
  gap: calc(75px - 14px);
}
.page_nav .list a {
  padding: 8px 14px;
  --adap__text: 18;
  --adap__text_min: 16;
  font-weight: bold;
  color: var(--col__text_main);
  border-radius: 0.75em;
}
.page_nav .list a:hover {
  background-color: var(--col__nav_slct);
  color: var(--col__text_slct);
}
.page_nav .togl {
  display: none;
}
/* NAV )-*/

/*-( HERO */
#hero {
  padding-top: 44px;
  padding-bottom: 211px;
  background-image: url(../img/ai_baggrund.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#hero h1 {
  --adap__text_cut: 0.75;
  color: var(--col__text_main);
  margin-bottom: 13px;
}
#hero p {
  --adap__text_cut: 0.75;
  --adap__text: 18;
  --adap__width: 560;
  --adap__width_cut: 0.5;
  color: var(--col__text_main);
  font-weight: bold;
}
/* HERO )-*/

/*-( INTRO */
#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--col__text_secn);
  background-color: var(--col__back_secn);
  padding-top: 50px;
  padding-bottom: 44px;
  gap: 60px;
}
#intro h2 {
  --adap__text_cut: 0.5;
  margin-bottom: 17px;
}
#intro p {
  --adap__text: 16;
  --adap__text_min: 12;
  --adap__width: 536;
  --adap__width_cut: 0.75;
  font-weight: bold;
  margin-bottom: 24px;
}
#intro a {
  --adap__text: 16;
  font-weight: bold;
  background-color: var(--col__text_slct);
  color: var(--col__text_main);
  padding: 13px 30px;
  border-radius: 0.5em;
  display: inline-block;
}
#intro img {
  --adap__width: 486;
  --adap__width_cut: 0.5;
  height: 100%;
}
/* INTRO )-*/

/*-( ARTIFICIAL INTELLIGENCE */
#ai {
  background-color: var(--col__back_main);
  color: var(--col__text_main);
  padding-top: 70px;
  padding-bottom: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ai h2 {
  margin-bottom: 77px;
  text-align: center;
}
#ai .para {
  column-count: 2;
  column-gap: 50px;
}
#ai .para p {
  --adap__text: 18;
  --adap__text_cut: 0.5;
  margin-bottom: 2em;
}
/* ARTIFICIAL INTELLIGENCE )-*/

/*-( IMAGE GALLERY */
#images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#images h2 {
  --adap__text_cut: 0.5;
  color: var(--col__text_secn);
  margin-bottom: 17px;
  text-align: center;
}
#images p {
  --adap__text: 16;
  --adap__text_cut: 0.75;
  --adap__width: 846;
  --adap__width_cut: 0.75;
  color: var(--col__text_secn);
  margin-bottom: 35px;
  text-align: center;
}

#images .img_gal {
  display: flex;
  flex-direction: row-reverse;
  gap: 21px;
}
#images .gal_main .gal_btn {
  --adap__width: 714;
  --adap__width_cut: 0;
  height: 100%;
}
#images .gal_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 14px;
}
#images .gal_item .gal_btn {
  --adap__width: 168;
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#images .gal_item .gal_btn:hover {
  outline: 2px solid var(--col__back_cont);
}
#images .gal_item.selected .gal_btn {
  outline: 4px solid var(--col__back_cont);
}
/* IMAGE GALLERY )-*/

/*-( */
/* )-*/
