/*

main.css is meant to be linked to other CSS files through @import, as that will allow the other file to override custom variables.


You can declare these custom variables on elements to affect styling.
They will already assume the unit of a number, so make sure not to specify a unit.
If you do not declare these variables on an element, the attached function will silently and safely fail, leaving default CSS styling intact.


--base_width: Max width (in pixels) of your website's design. (Adaptive scaling won't go above this.)


Adaptive variables:
(These dictate the corresponding style values (in pixels) when the page's view-width is equal to or above base_width.)
--adap__width: max-width
--adap__text: font-size
--adap__marg_l: margin-left
--adap__marg_r: margin-right


When view-width goes beneath base_width, the adap variables are able to shrink in sync with it.
You can type an adap variable with "_min" or "_cut" at the end to specify a shrinking mechanic.

Examples:
{
--adap_width: 32;
--adap_width_min: 16;
}
{
--adap_width: 32;
--adap_width_cut: 0.5;
}

"_min" decides how small in pixels the property can shrink to.
"_cut" decides how small, in divisions, the property can shrink to. (0-1)

*/

:root {
  --base_width: 1920;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* adaptive max-width */
  --adap__width_min: var(--adap_width);
  --adap__width_cut: 1;
  max-width: clamp(
    var(--adap__width_min) * 1px * var(--adap__width_cut),
    var(--adap__width) / var(--base_width) * 100vw,
    var(--adap__width) * 1px
  );

  /* adaptive margin left */
  --adap__marg_l_min: var(--adap__marg_l);
  --adap__marg_l_cut: 1;
  margin-left: clamp(
    var(--adap__marg_l_min) * 1px * var(--adap__marg_l_cut),
    var(--adap__marg_l) / var(--base_width) * 100vw,
    var(--adap__marg_l) * 1px
  );

  /* adaptive margin right */
  --adap__marg_r_min: var(--adap__marg_r);
  --adap__marg_r_cut: 1;
  margin-right: clamp(
    var(--adap__marg_r_min) * 1px * var(--adap__marg_r_cut),
    var(--adap__marg_r) / var(--base_width) * 100vw,
    var(--adap__marg_r) * 1px
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a,
button,
input,
textarea {
  /* adaptive font-size */
  --adap__text_min: var(--adap__text);
  --adap__text_cut: 1;
  font-size: clamp(
    var(--adap__text_min) * 1px * var(--adap__text_cut),
    var(--adap__text) / var(--base_width) * 100vw,
    var(--adap__text) * 1px
  );
}

li {
  list-style: none;
}

/* 
DYNAMIC WIDTH: (replace "X" with width from wireframe)
calc(( X / var(--base_width)) * 100vw);
*/
